/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff; 
    background-color: #000000; 
    margin: 33px;
    padding: 0;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #000000; 
    color: #ffffff; 
    border: 1px solid #1dd600;
    padding: 10px;
}

a {
    color: #ffffff; 
    text-decoration: none;
}

a:hover {
    color: #ffffff; 
}

a:visited {
    color: #6ab62c; 
}