/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #800020; 
    color: #FFFFFF; 
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #008CBA; 
    text-decoration: none;
}

a:hover {
    color: #005f6b; 
}

a:visited {
    color: #004D40; 
}